p
  | Hello #{ username }, Your one time verification code to reset your password is
  b &nbsp;#{ code }
  | , Please do not share this code to anyone.
  br
p This verification code will be expired after #{ expirationTime }
